@using X.PagedList;
@using X.PagedList.Mvc;
@model IPagedList<Homework_SkillTree.Models.ViewModels.CashRecordFormViewModel>

@{
    Layout = null;
    int number = Model.PageNumber;
    int count = 1;
}


<div class="col-md-12">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m[0].Id)</th>
                <th>@Html.DisplayNameFor(m => m[0].Category)</th>
                <th>@Html.DisplayNameFor(m => m[0].Date)</th>
                <th>@Html.DisplayNameFor(m => m[0].Money)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@((number - 1) * 20 + count)</td>
                @Html.DisplayFor(modelItem => item.Category, "Category")
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@item.Money</td>
            </tr>
                count++;
            }
        </tbody>
    </table>
</div>
<div class="col-md-12">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
