@model Homework_SkillTree.Models.ViewModels.CashFormListViewModel

@{
    Layout = null;
}

<tr>
    <th>@Html.DisplayNameFor(m => m.CashRecordForm.Id)</th>
    <th>@Html.DisplayNameFor(m => m.CashRecordForm.Category)</th>
    <th>@Html.DisplayNameFor(m => m.CashRecordForm.Date)</th>
    <th>@Html.DisplayNameFor(m => m.CashRecordForm.Money)</th>
</tr>
@for (int i = 0; i < Model.CashRecords.Count; i++)
{
<tr>
    <td>@(i+1)</td>
    <td>@Model.CashRecords[i].Category</td>
    <td>@Model.CashRecords[i].Date.ToString("yyyy-MM-dd")</td>
    <td>@Model.CashRecords[i].Money</td>
</tr>
}