@model Homework_SkillTree.Models.ViewModels.CashRecordFormViewModel
@using Homework_SkillTree.Models.ViewModels;

@{
    Layout = null;
    List<CashRecordFormViewModel> cashRecords = (List<CashRecordFormViewModel>)ViewData["cash_records"];
}

<tr>
    <th>@Html.DisplayNameFor(m => m.Id)</th>
    <th>@Html.DisplayNameFor(m => m.Category)</th>
    <th>@Html.DisplayNameFor(m => m.Date)</th>
    <th>@Html.DisplayNameFor(m => m.Money)</th>
</tr>
@for (int i = 0; i < cashRecords.Count; i++)
{
    <tr>
        <td>@(i+1)</td>
        <td>@cashRecords[i].Category</td>
        <td>@cashRecords[i].Date.ToString("yyyy-MM-dd")</td>
        <td>@cashRecords[i].Money</td>
    </tr>
}